$primary-color: #e7ecef;
$accent-color: #a3cef1;
$secondary-accent-color: #f96900;
$text-color: #8b8c89;
$font-weights: (
 "regular": 400,
 "medium": 500, 
 "bold": 700
);

*{
 border:0;
 padding:0;
 margin:0;
}

.body{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 100vh;
 width: 100vw;
}

.project-button{
 display: flex;
 background-color: $secondary-accent-color;
 width: 5vw;
 height: 3vh;
 justify-content: center;
 align-items: center;
  &:hover {
   background-color: $accent-color;
  }
};

.project-banner-right{  
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 480px;
  background: $accent-color;
  position: relative;
  align-items: center;
  justify-content: center;

  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
  }

  &:before {
    content: '';
    position: absolute;
    left: 600px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 130px solid $accent-color;
    border-top: 240px solid transparent;
    border-bottom: 240px solid transparent;
  }
}
.project-banner-left{  
 display: flex;
  flex-direction: column;
  width: 600px;
  height: 480px;
  background: $accent-color;
  position: relative;
  align-items: center;
  justify-content: center;
  left: 66vw;

  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
  }

  &:before {
    content: '';
    position: absolute;
    left: -130px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 130px solid $accent-color;
    border-top: 240px solid transparent;
    border-bottom: 240px solid transparent;
  }
}
.nothing{
  
}
.responsive-image{
 display: flex;
 width: 100vw;
}

.resize{
 width: 0 auto;
 height: 0 auto;
}

#parallax-image-1{
 background-image: url('https://lh3.googleusercontent.com/tuZKlKB9xP0ZsoqXV08z75IpW1SDrRK3lVfyMFWki7QkcRdsrMf5UIHQwDO7fJpOFfpyWQ01K2IyzGXsWrklZ4cvUwmus6TIG1PesNwby0vQWNMyKxRPkqZvKmJlzmQB9Q=w1280');
 background-size: cover;
}
#parallax-image-right{
 height: 70vh;
 width: 19vw;
 display: flex;
 position: absolute;
 left: 78.5vw;
 top: 25vh;
 background-image: url('https://lh3.googleusercontent.com/uAFDoigB0k_VA82jSvR2NcBZq-5Ai_JZOkreS5p36JE1gLIbJToKzEvpQ8eSEt9mdquk0OoVpzUeqhUkqsudv6u8iPOjzpDzCaVvQ11Go3QWpsXxdeHwHE9AvdW-wfcqKQ=w1280');
}
#parallax-image-left{
 height: 70vh;
 width: 19vw;
 display: flex;
 position: relative;
 bottom: 873px;
 background-image: url('https://lh3.googleusercontent.com/uAFDoigB0k_VA82jSvR2NcBZq-5Ai_JZOkreS5p36JE1gLIbJToKzEvpQ8eSEt9mdquk0OoVpzUeqhUkqsudv6u8iPOjzpDzCaVvQ11Go3QWpsXxdeHwHE9AvdW-wfcqKQ=w1280');
}
#parallax-image-2{
 background-image: url('https://lh6.googleusercontent.com/OCnQZ9TVm0cwWbcvhgNCbKKF7f4kuhL9dQ1leU3qNqK98pcRqAPFkVD4G-ZuiOUvcos5QYwJYGxonWCHJv8NMwN_081cBZexQPkTToidJ3ECOi8q5VeNulEc48iWAap0mQ=w1280');
 background-size: cover;
}