@import './reset.scss';
@import './AboutMe';
@import './Navigation';
@import './Footer';

$background-color: #30011E;
$primary-accent-color: #3772ff;
$secondary-accent-color: #04e762;
$tertiary-accent-color: #006dfc;
$text-color: #E6E8E6;
$font-weights: (
 "regular": 400,
 "medium": 500, 
 "bold": 700
);

h2 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: xx-large;
}
p {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  padding: 50px;
  word-spacing: .08em;
}

body {
  overflow-x: hidden;
  width: 100%;
  z-index: 1;
  opacity: 1!important;
  transition: margin .3s;
}

.project-button{
 display: flex;
 background-color: $tertiary-accent-color;
 width: 5vw;
 height: 3vh;
 justify-content: center;
 align-items: center;
 color: white;
  &:hover {
   background-color: $secondary-accent-color;
  }
};

.project-banner-right{  
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 480px;
  background: $background-color;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 35px;


  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
  }

  &:before {
    content: '';
    position: absolute;
    left: 600px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 130px solid $background-color;
    border-top: 240px solid transparent;
    border-bottom: 240px solid transparent;
  }
}
.project-banner-left{  
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 480px;
  background: $background-color;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 0px;
  bottom: 35px;
  transform: perspective(0px) translate3d(0px, 0px, 0px);
  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
  }

  &:before {
    content: '';
    position: absolute;
    left: -130px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 130px solid $background-color;
    border-top: 240px solid transparent;
    border-bottom: 240px solid transparent;
  }
}
.section-centering{
  display: flex;
  position: relative;

}
.component-wrapper {
  background-color: $background-color;
  color: #fff;

}

@media screen and (min-width: 720px){
.parallax-sections {
    height: calc(var(--section-length) * 90vh);
    position: relative;
    margin-bottom: 15vh;
}
}

.home-section {
  display: flex;
}

#parallax {
  display: flex;
  justify-self: flex-start;
  height: auto;
  width: 100%;

}
#parallax2 {
  height: auto;
  width: 100%;
}
#parallax3 {
  height: auto;
  width: 100%;
}

.header{
  display: flex;
  height: 150px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center; 
  background-color: $background-color;
  border-radius: 5px;
  font-family: sans-serif;
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 1112;
}
.header-items{
  display:flex;
  margin-left: 55px;
}
.divider{
  margin: 50px;
  margin-left: 150px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
}
.divider-header{
  font-size: 5em;
}
.border-line{
  margin-left: 200px;
  margin-top: 40px;
  height: .0009px;
  border-width: 2px;
  border: solid;
  color: white;
  width: 700px;
}

.skills{
  flex-wrap: wrap;
  display: flex;
  height: auto;
  justify-content: center;
}
.skills-image{
  display: flex;
  margin: 50px;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 200px;
}
.contact-info{
  height: auto;
  margin: 20px;
  letter-spacing: 5px;
}